.article__borderLine {
    border-top: 2px solid rgb(17, 75, 36);
    margin: -10px 20px 20px 20px;
    padding: 10px 30px 30px 30px;
    line-height: 1.5;
}

.article__earlyYears {
    padding: 0 30px;
    line-height: 1.5;
}

.article__subheading {
    padding: 0px 0px 0px 10px;
    line-height: 1.5;
}

.article__career {
    padding: 0px 50px;
    line-height: 1.5;
}

.article__filmography {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    line-height: 2;
    flex-wrap: wrap;
}

.article__list {
    font-size: 12px;
    padding-left: 20px;
    font-weight: 600;
    flex: 1;
    min-width: 300px;
}

.article__container {
    padding: 20px;
    overflow-x: auto;
    min-height: 100%;
}

.article__colorLiSpan {
    color: black;
}

.article__listYear {
    color: blue;
}